# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
backend/test_db/
backend/uploads/
backend/model_cache/
backend/src/model_cache/
chroma_db/
data/

# Node
frontend/node_modules/

# Logs
*.log

# Local env files
.env
.env.*
!.env.sample
!.env.docker.sample

# Sensitive files
backend/tests/test_data/BOM_business_model.pdf
backend/tests/test_data/_20240902 - DTL - Employment Agreement Template London.docx

# macOS
.DS_Store
backend/.DS_Store
backend/src/.DS_Store
backend/tests/.DS_Store
